.button {
    border: none;
    border-radius: 6px;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.85rem;
    cursor: pointer;
    height: 2.5rem;
    font-weight: bold;
}

.button:hover {
    opacity: 0.8;
}
