.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 90vh;
}

.titleContainer h1, .description {
    word-break: break-word;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: .5rem;
}

.buttonContainer {
    margin-top: auto;
}