.titleContainer {
    margin-block: 1rem;
}

.titleContainer h1, .description {
    word-break: break-word;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: .5rem;
}

.description {
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

.buttonContainer {
    margin-top: auto;
}