.itemList {
    display: flex;
    justify-content: space-between;
}

.itemList > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.75rem 0.5rem;
    width: 70%;
    cursor: pointer;
}

.itemList div h2, .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.itemList div h2 {
    margin-bottom: 0.5rem;
    font-size: 20px;
}

.itemList .description {
    color: #7d7d7d;
}

.itemList .pending,
.done {
    color: #fff;
    padding: 0.1rem 0.4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    height: 2rem;
    width: 3rem;
    cursor: pointer;
}

.itemList .pending {
    background-color: #a02727;
}

.itemList .done {
    background-color: #27a043;
}

.itemList .icon {
    width: 16px;
    height: 16px;
}

.itemList .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.itemList .trashIcon {
   width: 24px;
   height: 24px;
   cursor: pointer;
}

.itemList + hr {
    border-top: 1px solid #e8e8e8;
}
